.titulo{
    display: flex;
    justify-content: center;
    font-family: garamond;
}

.nav-alinear {
    list-style: none;
    font-size: 20px;
    background-color: black;
    text-align: center;
    font-family: garamond;
    color: beige;
}

.nav-alinear li{
    display: inline-block;
    padding: 10px;
}

img{
    width: 100%;
}

.fondo{
    background-color: beige;
    border-radius: 10px;
}

.imagenballena{
    background-size: cover;
    opacity: 0.5;
}

.texto1{
    position: absolute;
    left: 15px;
    right: 50px;
    top: 60%;
    transform: translate(-10px,-5px);
}

.imaApps{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);   
}