.titulo{
    display: flex;
    justify-content: center;
    font-family: garamond;
    padding: 2%;
    position: relative;
}
.titulo4{
    display: flex;
    justify-content: center;
    font-family: garamond;
    padding: 2%;
    position: relative;
    top: -30px;
}

.titulo3{
    display: flex;
    justify-content: center;
    font-family: garamond;
    position: relative;
    top: 20px;
}

.nav-alinear {
    list-style: none;
    font-size: 20px;
    background-color:beige;
    text-align: center;
    font-family: garamond;
    color: rgb(21, 20, 20);
    padding: none;
}

.nav-alinear li{
    display: inline-block;
    padding: 10px;
}

img{
    width: 100%;
}

.fondo{
    background-color: rgb(21, 20, 20);
    border-radius: 10px;
    color: beige;
}

.imagenballena{
    background-size: cover;
    opacity: 0.33;
}

.texto1{
    position: absolute;
    top: 130%;
    position: static;
    margin: 18px;
    padding: 13px;
    transform: translate(10px,15px);
    font-family: sans-serif;
}

.imaApps{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;  
    grid-area: 2/3/4/6;
}

.recuadro{
    margin: 10px;
    color: black;
}

hr{
    padding: 5px;
    margin: 10px;
}

.titulo2{
    display: flex;
    justify-content: center;
    font-family: garamond;
    padding: 2%;
    position: absolute;
    left: 15px;
    right: 50px;
    top: 10%;
}

.texto2{
    position:auto;
    width: auto;
    height: auto;
    padding: 12%;
    transform: translate(10px,15px);
    font-family: sans-serif;
}

.cambio{
    border: none;
    border-radius: 10000px;
    position: relative;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    margin: 20%;
}

.registro{
    width: 80%;
    background-color:beige;
    padding: 50px;
    margin: auto;
    border-radius: 4px;
    font-family: garamond;
    box-shadow: 7px 13px 37px beige;
}

.controles{
    width: 100%;
    background: beige;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(21, 20, 20);
    font-family: garamond;
    font-size: 18px;
    color: rgb(21, 20, 20);

}

.boton{
    width: 100%;
    background-color: rgb(21, 20, 20);
    border: none;
    padding: 12px;
    color: beige;
    margin: 16px 0;
    font-size: 16px;
    display: inline-block;
    padding: 10px;
}

.cambio{
    background: rgb(21, 20, 20);
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    display: inline-block;
    padding: 10px;
        
    ::after {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: rgb(21, 20, 20);
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px beige;
        display: inline-block;
    padding: 10px;
    }
    .active{
        background: rgb(21, 20, 20);
        color: beige;
        ::after{
            right: 0;
            left: unset;
            display: inline-block;
    padding: 10px;
        }
    }
}
